# Unpacking Nurma's dataset

In [1]:
import os
import pandas as pd

In [8]:
def gen_csv(dirr):
    train_files = os.listdir(dirr)
    df = pd.DataFrame(columns=["label", "fname"])
    df["fname"] = train_files
    if 'live' in dirr:
        df["label"] = 0
    else:
        df["label"] = 1
    return df

In [13]:
dirr1 = "train/live"
dirr2 = "train/spoof"
df = pd.concat([gen_csv(dirr1), gen_csv(dirr2)])
df.to_csv("train_list.csv")

In [12]:
df['fname'].unique

<bound method Series.unique of 0      frame0vid3_3_09_1.jpg
1      frame4vid2_2_05_1.jpg
2      frame0vid3_3_10_1.jpg
3      frame0vid3_2_10_1.jpg
4      frame0vid2_3_06_1.jpg
               ...
106    frame0vid1_3_02_4.jpg
107    frame0vid1_2_02_4.jpg
108    frame0vid1_2_02_5.jpg
109    frame0vid1_3_02_5.jpg
110    frame0vid1_2_04_3.jpg
Name: fname, Length: 225, dtype: object>

In [9]:
import os
import pandas as pd

In [10]:
class dataset_info(object):

    def __init__(self):
        self.root_dir = ""

In [11]:
image_dir = "/home/yeldar/Documents/Liveness/datasets/"
CUSTOM_Train = dataset_info()
CUSTOM_Train.root_dir = os.path.join(image_dir, "sample_dataset")
data_dir = CUSTOM_Train.root_dir
root_dir = os.path.join(data_dir, "Train_files")
info_list = os.path.join(data_dir, "train_list.csv")
labels = pd.read_csv(info_list, delimiter=",", header=None).drop([0], axis=1)
labels

     1                      2
0    0  frame0vid3_3_09_1.jpg
1    0  frame4vid2_2_05_1.jpg
2    0  frame0vid3_3_10_1.jpg
3    0  frame0vid3_2_10_1.jpg
4    0  frame0vid2_3_06_1.jpg
..  ..                    ...
220  1  frame0vid1_3_02_4.jpg
221  1  frame0vid1_2_02_4.jpg
222  1  frame0vid1_2_02_5.jpg
223  1  frame0vid1_3_02_5.jpg
224  1  frame0vid1_2_04_3.jpg

[225 rows x 2 columns]

In [14]:
idx = 0
image_name = str(labels.iloc[idx, 1])
image_path = os.path.join(root_dir, image_name)
spoofing_label = labels.iloc[idx, 0]
print(image_name, image_path, spoofing_label)

frame0vid3_3_09_1.jpg /home/yeldar/Documents/Liveness/datasets/sample_dataset/Train_files/frame0vid3_3_09_1.jpg 0

In [ ]:
image_name = str(labels.iloc[idx, 1])
image_path = os.path.join(root_dir, image_name)